#infovis{
	position: relative;
	width: 98%;
	height: 350px;
	margin: auto;
	overflow: hidden;
	border: 3px solid black;
}

.clear{clear:both;}

body{
    background: #111;
    height: 100%;
    font-size:12px;
}

.tip-title{
	color: #fff;
}
.tip-text{
	color: #ccc;
}

#submit-button{
	width:99%;
	padding: 5px 0;
	background: #ccc;
	text-align: center;
	color: #333;
	font-weight:bold;
	font-size: 20px;
	margin-top:20px;
	cursor: pointer;
	border:3px solid #000;
}

h2{
	color:white;
	font-size:16px;
	padding: 20px 0 10px 5px;
}

hr{
	border: 1px solid #000;
}

p{
	color:#555;
	margin: 0 10px;
}

p.example{
	color:#FFFC3B;
	display:block;
	margin:5px 30px;
}

label{
    color: #aaa;
    font-size:16px;
}
#logo{float:left; margin:-8px 10px 10px 0;}
#header{
	background: none;
}

#header h1{
	font-size:60px;
	color:#f22;
	margin: 3px 0 0 0;
}

#header h1 span{
	color:#777;
}

#wrapper{
    margin: 0 auto;
    width: 98%;
    border: 1px solid #444;
    corner-radius: 5px;
    background: #111;
    padding:10px;
    padding-top:2%;
}

#body{
    width: 100%:
}

.left, .right{
    float:left;
    width:49.8%;
    border: none;
}

#body-left{
    padding: 0;
}

#body-right{
    padding: 0;
}

#input, #output, #result{
    width: 100%;
    border: none;
    font-size: 14px;
}

#input{
    background: #252525;
    padding: 10px;
    color: #AAA;
    height: 150px;
    border: 3px solid #000;
}

#output{
    background:#151515;
    padding:10px;
    color: #FFF;
    border-right: 3px solid #000;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    width: 95.5%;
    height:124px;
    overflow: auto;
}

#result{
	background: #f22;
	color:#FFF;
	height:50px;
	font-size:45px;
	padding: 4px;
	overflow: hidden;
	border-right: 7px solid #000;
}

#footer{
    background: #000;
    border:3px solid #000;
    display:none;
}

.keywords{
	color:#22FF5F;
}
.implies{
	color:#FFFC3B;
}
.symbol{
	color: #f22;
}
.predicate{
	font-weight:normal;
	color: #0781CC;
}

.wff:nth-child(odd) {
  background:#222;
}

.wff{
	padding: 12px 7px;
}

#edges{width:90%;}
#nodes{width:9.5%;}

#edges-area, #nodes-area{
	width:auto;
	height:150px;
	border: 3px solid #000;
	background: #151515;
	color: #222;
	font-weight:bold;
	font-size:20px;
	overflow: auto;
	padding:10px;
}

#edges-area{
	border-left:none;
}

.edge, .nodes, .and{
	padding: 2px 4px;
	margin: 10px;
	display: block;
	float:left;
	width:auto;
	border:3px solid #000;
}

.edge{
	background-color:#f22;
	height: 59px;
}
.nodes{
	background-color:#0781CC;
	height:23px;
}
.and{
	margin-top:29px;
	background-color:#22FF5F;
}

.arrow-right{
	width:15px;
	height:67px;
	padding: 5px 7px;
	margin: 10px;
	float:left;
	background: transparent url(../img/arrow-right-small-2.gif) center center no-repeat;
}

.node{
	padding: 1px 5px;
	margin:1px 3px 0 0;
}

.span-implies{
	background-color: #FFFC3B;
	color: #222 !important;
	-moz-box-shadow: 0 0 4px 1px #FFFC3B;
	-webkit-box-shadow: 0 0 4px 1px #FFFC3B;
	box-shadow: 0 0 4px 1px #FFFC3B;
}

.span-implies.true{
	background: #FFFC3B url(../img/check.gif) right bottom no-repeat;
	-moz-box-shadow: 0 0 4px 1px green;
	-webkit-box-shadow: 0 0 4px 1px green;
	box-shadow: 0 0 4px 1px green;
}

.span-implies.false{
	background: #FFFC3B url(../img/false.png) right bottom no-repeat;
	-moz-box-shadow: 0 0 4px 1px red;
	-webkit-box-shadow: 0 0 4px 1px red;
	box-shadow: 0 0 4px 1px red;
}

.a-node{
	background-color:#0781CC;
	padding:10px;
	color: white;
	display:block;
	margin:5px;
	text-align:center;
}

#theCanvas{
	background:#151515;
	border: 3px solid #000;
}
